* {
  box-sizing: border-box;
}

body {
  background-image: url(../../image/bg-with-logo.JPEG);
  background-size: cover;
background-repeat: repeat;
height: 500px;
font-family: "Times New Roman";
}

#regForm {
  background: rgba(0, 0, 0, 0.699);
  color: white;
  margin: 80px auto;
  font-family: "Times New Roman";
  padding: 40px;
  width: 80%;
  min-width: 300px;
  border-radius: 50px;
  /* box-shadow: 7px 7px 10px; */
}


#regInfo {
  background: rgba(0, 0, 0, 0.699);
  color: white;
  margin: 10px auto;
  font-family: "Times New Roman";
  padding: 40px;
  width: 80%;
  min-width: 30px;
  border-radius: 30px;
  /* box-shadow: 7px 7px 10px; */
}

#regBox {
  text-align: center;
  background: rgba(0, 0, 0, 0.699);
  color: white;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  min-width: 30px;
  border-radius: 20px;
  /* box-shadow: 7px 7px 10px; */
}

#regBoxModuleData {
  text-align: center;
  background: rgba(0, 0, 0, 0.699);
  color: white;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  min-width: 30px;
  border-radius: 20px;
  /* box-shadow: 7px 7px 10px; */
}

#regBoxModuleRumus {

  background: rgba(0, 0, 0, 0.699);
  color: white;
  margin: 10px auto;
  font-family: "Times New Roman";
  padding: 40px;
  width: 100%;
  min-width: 300px;
  border-radius: 30px;
}

h1, h3 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: "Times New Roman";
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color:#FFC312;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: "Times New Roman";
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #df2929;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


.navbar {
  overflow: hidden;
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

body {margin:0;}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,.5);
  color: white;
  text-align: center;
}

/* Style the tab */
.tabs {
  overflow: hidden;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #ffffff;
}

/* The container */
.containerz {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 
}

/* Hide the browser's default radio button */
.containerz input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 40%;

}

/* On mouse-over, add a grey background color */
.containerz:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerz input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerz input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerz .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}